<!-- parciales/head -->
{{> head }}
<!-- parciales/head -->

    <!-- parciales/navbar -->
    {{> navbar }}
    <!-- parciales/navbar -->

    <div class="row">
        
        <div class="col-8">
            <h1>Node JS</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe, doloribus aliquid fugiat iure et vel repudiandae sequi illo maxime, eaque quae amet odit recusandae sit. Dolorum inventore debitis ullam?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/nodejs.png" class="img-thumbnail">
        </div>

    </div>

<!-- parciales/footer -->
{{> footer }}
<!-- parciales/footer -->